<table class="tabela-compra">
    <tr class="compra-row-header">
	<td class="compra-cell-header" ng-click="changeFilter('valor')" ng-class="{active: transacaoOrder == 'valor'}" >Valor</td>
	<td class="compra-cell-header" ng-click="changeFilter('descricao')" ng-class="{active: transacaoOrder == 'descricao'}">Descricao</td>
	<td class="compra-cell-header" ng-click="changeFilter('produto')" ng-class="{active: transacaoOrder == 'produto'}">Produto</td>
	<td class="compra-cell-header" ng-click="changeFilter('data')" ng-class="{active: transacaoOrder == 'data'}">Data</td>
	<td class="compra-cell-header" ng-click="changeFilter('nome')" ng-class="{active: transacaoOrder == 'nome'}">Nome</td>
	<td class="compra-cell-header"></td>
    </tr>
    
    <tr class="compra-row" ng-repeat="transacao in transacoes | orderBy: transacaoOrder">
	
	<!-- no edita table -->
	<td ng-hide="editavel" class="compra-cell" style="color: green;">{{transacao.valor | currency | R$}}</td>
	<td ng-hide="editavel" class="compra-cell">{{transacao.descricao}}</td>
	<td ng-hide="editavel" ng-if="transacao.titulo" class="compra-cell">{{transacao.titulo}}</td>
	<td ng-hide="editavel" ng-if="transacao.tema" class="compra-cell">{{transacao.tema}}</td>
	<td ng-hide="editavel" class="compra-cell">{{transacao.data.getDate()+'/'+transacao.data.getMonth()+1+'/'+transacao.data.getFullYear()}}</td>
	<td ng-hide="editavel" class="compra-cell">{{transacao.nome}}</td>
	<td ng-hide="editavel" class="compra-cell escondido-talvez">
	    <i class="fa fa-bomb clickable" ng-click="deletaTransacao(transacao)"></i>
	    <i class="fa fa-pencil clickable" ng-click="editarTransacao(transacao); editavel = true"></i>
	</td>

	
	<!-- editable table -->
	<td class="texto-centro" ng-show="editavel" >
	    <input class="width-100 texto-centro" type="text" ng-model="transacao.valor" />
	</td>

	<td class="texto-centro" ng-show="editavel"  ng-if="transacao.titulo">
	    <input class="width-100 texto-centro" type="text"  ng-model="transacaoSelecionada.descricao" />
	</td>
	
	<td class="texto-centro" ng-show="editavel"  ng-if="transacao.titulo">
	    <input class="width-100 texto-centro" type="text"  ng-model="transacaoSelecionada.titulo" />
	</td>
	
	<td class="texto-centro" ng-show="editavel"  ng-if="transacao.tema">
	    <input class="width-100 texto-centro" type="text"  ng-model="transacaoSelecionada.tema" />
	</td>
	
 	<td class="texto-centro" ng-show="editavel" class="compra-cell">
	    <input class="width-100 texto-centro" type="date" ng-model="transacaoSelecionada.data" />
	</td>

	<td class="texto-centro" ng-show="editavel" class="compra-cell">
	    <input class="width-100 texto-centro" type="text" ng-model="transacaoSelecionada.nome" />
	</td>
 	<td ng-show="editavel" class="compra-cell">
	    <i class="fa fa-check clickable" ng-click="salvarTransacao($index); editavel = false;"></i>
	    <i class="fa fa-times clickable" ng-click="resetar(); editavel = false;"></i>
	</td>

    </tr>
</table>
