<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <script src="angular/angular.js"></script>
    <script src="js/mainModule.js"></script>
    <script src="js/databaseAccessModule.js"></script>
    <link rel="stylesheet" type="text/css" href="css/algum.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="angular-material/angular-material.css"/>
</head>
<Body ng-app="mainModule">
    <div class="nav-container">
	<div class="nav-class">
	    <a href="#home" class="nav-item">Home</a>
	    <a href="#Pessoas" class="nav-item">News</a>
	    <a href="#Precos" class="nav-item">Contact</a>
	    <a href="#Produtos" class="nav-item">About</a>
	</div>
    </div>

    <!-- dialog de nova compra
    -->


    <!-- directive container to modal button and sum -->
    <div ng-controller="DialogCtrl" class="dados-acima-tabela md-padding" id="popupContainer" ng-cloak>

	<div class="dialog-content">
	    <div class="soma-tabela" ng-controller="controladorTeste">{{soma | currency | R$}}</div>
	    
	    <button ng-click="showAdvanced($event)">
		<i class="fa fa-plus cor-verde fa-5x"></i>
	    </button>

	    <div style="height: 100px;">
		<span style="z-index: 4; padding: 9px 15px;background: aquamarine;border-radius: 100px;margin: 10px;position: absolute;/*! left: 5px; *//*! top: -5px; */right: 50px;"><i class="fa fa-bars"></i></span>
		<span style="z-index: 3; padding: 9px 15px;background: aquamarine;border-radius: 100px;margin: 10px;position: absolute;/*! left: 5px; *//*! top: -5px; */right: 50px;"><i class="fa fa-user"></i></span>
		<span style="z-index: 3; padding: 11px 15px;background: aquamarine;border-radius: 100px;margin: 10px 10px 10px 10px;/*! margin-top: 50px; */position: absolute;/*! top: 40px; *//*! left: -26px; */right: 50px;"><i class="fa fa-shopping-bag"></i></span>
		<span style="z-index: 3; padding: 9px 15px;background: aquamarine;border-radius: 100px;margin: 10px;position: absolute;/*! top: 0px; *//*! left: -41px; */right: 50px;"><i class="fa fa-book"></i></span>
		
	    </div>
	</div>

	<div style="visibility: hidden">
	    <div class="md-dialog-container" id="myDialog">
		<md-dialog layout-padding>

		</md-dialog>
	    </div>
	</div>

    </div>

    <div ng-controller="controladorTeste">

	<div class="disp-flex index-width" >
	    <span class="clickable compra-cell-header centraliza-flexitem font-3em" ng-click="changeTab('pessoa')"><i href="#" ng-class="{active : tabShown == 'pessoa'}" class="fa icon-top-table fa-user" ng-click=""></i></span>
	    <span class="clickable compra-cell-header centraliza-flexitem font-3em" ng-click="changeTab('compras')"><i href="#" ng-class="{active : tabShown == 'compras'}" class="fa icon-top-table fa-shopping-bag" ng-click=""></i></span>
	    <span class="clickable compra-cell-header centraliza-flexitem font-3em" ng-click="changeTab('livro')"><i href="#" ng-class="{active : tabShown == 'livro'}" class="fa icon-top-table fa-book" ng-click=""></i></span>
	    <span class="clickable compra-cell-header centraliza-flexitem font-3em" ng-click="changeTab('cd')"><i href="#" ng-class="{active : tabShown == 'cd'}" class="fa icon-top-table icon-disc" ng-click=""></i></span>
	</div>

	<table class="tabela-compra" ng-show="isTabShown('compras')" />
	<tr class="compra-row-header">
	    <td class="compra-cell-header" ng-click="changeFilter('preco')" ng-class="{active: rowOrder == 'preco'}" >Preco</td>
	    <td class="compra-cell-header" ng-click="changeFilter('titulo')" ng-class="{active: rowOrder == 'titulo'}">Produto</td>
	    <td class="compra-cell-header" ng-click="changeFilter('data')" ng-class="{active: rowOrder == 'data'}">Data</td>
	    <td class="compra-cell-header" ng-click="changeFilter('nome')" ng-class="{active: rowOrder == 'nome'}">Pessoa</td>
	    <td class="compra-cell-header"></td>
	</tr>
	
	<tr class="compra-row" ng-click="selecionaRow(compra);" ng-repeat="compra in compras | orderBy: rowOrder" ng-include="getTemplateCompra(compra)">
	    <!-- <td class="compra-cell" style="color: green;">{{compra.preco | currency | R$}}</td>
		 <td ng-if="compra.titulo" class="compra-cell">{{compra.titulo}}</td>
		 <td ng-if="compra.numero" class="compra-cell">{{compra.numero}}</td>
		 <td class="compra-cell">{{compra.data.getDate()+'/'+compra.data.getMonth()+1+'/'+compra.data.getFullYear()}}</td>
		 <td class="compra-cell">{{compra.nome}}</td>
		 <td class="compra-cell escondido-talvez"><i class="fa fa-bomb" ng-click="editContact(compra)"></i> <i class="fa fa-pencil" ng-click="console.log(compra.tema)"></i></td> -->
	</tr>
    </table>
    <!-- 
	 <table class="tabela-compra" ng-show="tabShown=='pessoa'" ng-controller="controladorTeste">
	 <tr class="compra-row-header">
	 <td class="compra-cell-header" ng-click="changeFilter('nome')">Nome</td>
	 <td class="compra-cell-header" ng-click="changeFilter('associado?')">Associado</td>
	 <td class="compra-cell-header" ng-click="changeFilter('cpf')">CPF</td>
	 <td class="compra-cell-header" ng-click="changeFilter('rg')">RG</td>
	 <td class="compra-cell-header" ng-click="changeFilter('telefone')">Telefone</td>
	 <td class="compra-cell-header"></td>
	 
	 </tr>
	 <tr class="compra-row" ng-click="selecionaCompra(compra)" ng-repeat="pessoa in pessoas | orderBy: compraOrder" ng-include="getTemplate(compra)">
	 <td class="compra-cell">{{compra.name}}</td>
	 <td class="compra-cell">{{compra.valor}}</td>
	 <td class="compra-cell">{{compra.data}}</td>
	 <td class="compra-cell">{{compra.pessoa}}</td>
	 <td class="compra-cell"><i class="fa fa-bomb"></i> <i class="fa fa-pencil"></i></td>
	 </tr>
	 </table>

	 <table class="tabela-compra" ng-show="tabShown=='livro'" ng-controller="controladorTeste">
	 <tr class="compra-row-header">
	 <td class="compra-cell-header">Produto</td>
	 <td class="compra-cell-header">Preco</td>
	 <td class="compra-cell-header">Data</td>
	 <td class="compra-cell-header">Pessoa</td>
	 <td class="compra-cell-header"></td>
	 
	 </tr>
	 <tr class="compra-row" ng-click="selecionaCompra(compra)" ng-repeat="livro in livros">
	 <td class="compra-cell">{{compra.name}}</td>
	 <td class="compra-cell">{{compra.valor}}</td>
	 <td class="compra-cell">{{compra.data}}</td>
	 <td class="compra-cell">{{compra.pessoa}}</td>
	 <td class="compra-cell"><i class="fa fa-bomb"></i> <i class="fa fa-pencil"></i></td>
	 </tr>
	 </table> -->
    </div>


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-messages/angular-messages.js"></script>

    <!-- Angular Material Library -->
    <script src="angular-material/angular-material.js"></script>
    <script src="jquery/dist/jquery.js"></script>
</body>
