<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <script src="angular/angular.js"></script>
    <script src="js/mainModule.js"></script>
    <script src="js/databaseAccessModule.js"></script>
    <link rel="stylesheet" type="text/css" href="css/algum.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="angular-material/angular-material.css"/>
</head>
<Body ng-app="mainModule">
    <!-- <div class="nav-container">
	 <div class="nav-class">
	 <a href="#home" class="nav-item">Home</a>
	 <a href="#Pessoas" class="nav-item">News</a>
	 <a href="#Precos" class="nav-item">Contact</a>
	 <a href="#Produtos" class="nav-item">About</a>
	 </div>
	 </div> -->

    <!-- dialog de nova compra
    -->


    <!-- directive container to modal button and sum -->
    <div ng-controller="DialogCtrl" class="dados-acima-tabela md-padding" id="popupContainer" ng-cloak>

	<div class="dialog-content">
	    <div class="soma-tabela" ng-controller="controladorTeste">{{soma | currency | R$}}</div>
	    <!-- 
		 <button ng-click="showAdvanced($event)">
		 <i class="fa fa-plus cor-verde fa-5x"></i>
		 </button> -->	    
	    <div style="height: 100px;">
		<span ng-click="menuClick()" class="font-3em clickable botao-mais"><i ng-class=" {'fa-times': menuOpen, 'fa-plus': menuClosed}" class="icon-top-table fa"></i></span>
		<span ng-class="{'menu-open-user': menuOpen}" class="font-3em botao-adicionar clickable ">
		    <i class="icon-top-table fa fa-user"></i>
		    <i class="fa fa-plus mini-plus"> </i>
		</span>
		<span ng-class="{'menu-open-shopping': menuOpen}" class="font-3em botao-adicionar clickable ">
		    <i class="icon-top-table fa fa-shopping-bag"></i>
		    <i class="fa fa-plus mini-plus "> </i>
		</span>
		<span ng-class="{'menu-open-book': menuOpen}" class="font-3em botao-adicionar clickable ">
		    <i class="icon-top-table fa fa-book"></i>
		    <i class="fa fa-plus mini-plus "> </i>
		</span>
		<span ng-class="{'menu-open-exchange': menuOpen}" class="font-3em botao-adicionar clickable ">
		    <i class="icon-top-table fa fa-exchange"></i>
		    <i class="fa fa-plus mini-plus "> </i>
		</span>
		
	    </div>
	</div>

	<div style="visibility: hidden">
	    <div class="md-dialog-container" id="myDialog">
		<md-dialog layout-padding>

		</md-dialog>
	    </div>
	</div>

    </div>

    <div ng-controller="controladorTeste">

	<div class="disp-flex index-width" >
	    <span class="clickable compra-cell-header centraliza-flexitem font-3em" ng-click="changeTab('pessoa')"><i  ng-class="{active : tabShown == 'pessoa'}" class="fa icon-top-table fa-user" ng-click=""></i></span>
	    <span class="clickable compra-cell-header centraliza-flexitem font-3em" ng-click="changeTab('compras')"><i ng-class="{active : tabShown == 'compras'}" class="fa icon-top-table fa-shopping-bag" ng-click=""></i></span>
	    <span class="clickable compra-cell-header centraliza-flexitem font-3em" ng-click="changeTab('livro')"><i ng-class="{active : tabShown == 'livro'}" class="fa icon-top-table fa-book" ng-click=""></i></span>
	    <span class="clickable compra-cell-header centraliza-flexitem font-3em" ng-click="changeTab('cd')"><i ng-class="{active : tabShown == 'cd'}" class="fa icon-top-table icon-disc" ng-click=""></i></span>
	    <span class="clickable compra-cell-header centraliza-flexitem font-3em" ng-click="changeTab('transacao')"><i ng-class="{active : tabShown == 'transacao'}" class="fa icon-top-table fa-exchange" ng-click=""></i></span>
	</div>

	<tabela-compra ng-show="isTabShown('compras')"></tabela-compra>

	<tabela-transacao ng-show="isTabShown('transacao')"></tabela-transacao>
	
	<tabela-pessoa ng-show="isTabShown('pessoa')"></tabela-pessoa>

	
	<tabela-livro ng-show="isTabShown('livro')"></tabela-livro>

	<tabela-cd ng-show="isTabShown('cd')"></tabela-cd>

	
    </div>


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-messages/angular-messages.js"></script>

    <!-- Angular Material Library -->
    <script src="angular-material/angular-material.js"></script>
    <script src="jquery/dist/jquery.js"></script>
</body>
