<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="/telas/js/mainModule.js"></script>
    <link rel="stylesheet" type="text/css" href="/telas/css/algum.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.css"/>
</head>
<Body ng-app="mainModule">
    <div class="nav-container">
	<div class="nav-class">
	    <a href="#home" class="nav-item">Home</a>
	    <a href="#Pessoas" class="nav-item">News</a>
	    <a href="#Precos" class="nav-item">Contact</a>
	    <a href="#Produtos" class="nav-item">About</a>
	</div>
    </div>

    <!-- dialog de nova compra
    -->
    

    <div ng-controller="DialogCtrl" class="md-padding" id="popupContainer" ng-cloak>

	<div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
	    <button ng-click="showAdvanced($event)">
		<i class="fa fa-plus cor-verde fa-5x"></i>
	    </button>
	</div>

	<div style="visibility: hidden">
	    <div class="md-dialog-container" id="myDialog">
		<md-dialog layout-padding>

		</md-dialog>
	    </div>
	</div>

    </div>

    <table class="tabela-compra" ng-show="tabShown=='compras'" ng-controller="controladorTeste">
	<tr class="compra-row-header">
	    <td class="compra-cell-header">Produto</td>
	    <td class="compra-cell-header">Preco</td>
	    <td class="compra-cell-header">Data</td>
	    <td class="compra-cell-header">Pessoa</td>
	    <td class="compra-cell-header"></td>
	    
	</tr>
	<tr class="compra-row" ng-click="selecionaCompra(compra)" ng-repeat="compra in compras">
	    <td class="compra-cell">{{compra.produto}}</td>
	    <td class="compra-cell">{{compra.valor}}</td>
	    <td class="compra-cell">{{compra.data}}</td>
	    <td class="compra-cell">{{compra.pessoa}}</td>
	    <td class="compra-cell"><i class="fa fa-bomb"></i> <i class="fa fa-pencil"></i></td>
	</tr>
    </table>

    <table class="tabela-compra" ng-show="tabShown=='pessoas'" ng-controller="controladorTeste">
	<tr class="compra-row-header">
	    <td class="compra-cell-header">Produto</td>
	    <td class="compra-cell-header">Preco</td>
	    <td class="compra-cell-header">Data</td>
	    <td class="compra-cell-header">Pessoa</td>
	    <td class="compra-cell-header"></td>
	    
	</tr>
	<tr class="compra-row" ng-click="selecionaCompra(compra)" ng-repeat="compra in compras">
	    <td class="compra-cell">{{compra.name}}</td>
	    <td class="compra-cell">{{compra.valor}}</td>
	    <td class="compra-cell">{{compra.data}}</td>
	    <td class="compra-cell">{{compra.pessoa}}</td>
	    <td class="compra-cell"><i class="fa fa-bomb"></i> <i class="fa fa-pencil"></i></td>
	</tr>
    </table>

    <table class="tabela-compra" ng-show="tabShown=='produtos'" ng-controller="controladorTeste">
	<tr class="compra-row-header">
	    <td class="compra-cell-header">Produto</td>
	    <td class="compra-cell-header">Preco</td>
	    <td class="compra-cell-header">Data</td>
	    <td class="compra-cell-header">Pessoa</td>
	    <td class="compra-cell-header"></td>
	    
	</tr>
	<tr class="compra-row" ng-click="selecionaCompra(compra)" ng-repeat="compra in compras">
	    <td class="compra-cell">{{compra.name}}</td>
	    <td class="compra-cell">{{compra.valor}}</td>
	    <td class="compra-cell">{{compra.data}}</td>
	    <td class="compra-cell">{{compra.pessoa}}</td>
	    <td class="compra-cell"><i class="fa fa-bomb"></i> <i class="fa fa-pencil"></i></td>
	</tr>
    </table>
    
    <table class="tabela-compra" ng-show="tabShown=='precos'" ng-controller="controladorTeste">
	<tr class="compra-row-header">
	    <td class="compra-cell-header">Produto</td>
	    <td class="compra-cell-header">Preco</td>
	    <td class="compra-cell-header">Data</td>
	    <td class="compra-cell-header">Pessoa</td>
	    <td class="compra-cell-header"></td>
	    
	</tr>
	<tr class="compra-row" ng-click="selecionaCompra(compra)" ng-repeat="compra in compras">
	    <td class="compra-cell">{{compra.name}}</td>
	    <td class="compra-cell">{{compra.valor}}</td>
	    <td class="compra-cell">{{compra.data}}</td>
	    <td class="compra-cell">{{compra.pessoa}}</td>
	    <td class="compra-cell"><i class="fa fa-bomb"></i> <i class="fa fa-pencil"></i></td>
	</tr>
    </table>

    <div ng-controller="controladorTeste">
	<div ng-bind="compraSelecionada"></div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-messages/angular-messages.js"></script>

    <!-- Angular Material Library -->
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
</body>
