**/node_modules/**
**/.emacs-backups/**
telas/css/fontawesome-free-5.0.6/
resources/liquibase/postgresql-42.2.1.jar
resources/liquibase/db.changelog.xml-1.0
resources/liquibase/db.changelog.xml-1.1
resources/liquibase/db.bak
resources/liquibase/db-backup.sql
resources/liquibase/db-20180315.bak
spec/
lib/
shuffle.js

